<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/main.min.css")
	title Document
body
	.wrapper
		include sections/header
		include sections/main
	
	script(src="js/jquery.min.js")
	script(src="js/main.min.js")