header.header
	.container
		ul.nav
			li.nav__link: a(href='#'): img.logo(src="img/logotype.png")
			li.nav__link: a(href="#") Главное
			li.nav__link: a(href="#") Услуги
			li.nav__link: a(href="#") О нас
			li.nav__link: a(href="#") Контакты